div.create-account {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 140px;
}

div.create-account div h3 {
  color: #000080;
  font-weight: bold;
}

div.create-account div p {
  color: #4e4e8a;
  line-height: 0;
}

div.create-account div.first {}

div.create-account div.second img {
  max-width: 300px;
  max-height: 250px;
  margin: 30px;
  margin-right: 100px;
  padding-right: 30px;
}

@media screen and (max-width: 950px) {
  div.create-account {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 2% auto;
  }

  div.create-account div.second img {
    display: block;
    margin: 10px auto;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  div.create-account div.second img {
    padding: 3px;
    margin: auto;
    width: 80%;
  }

  div.create-account div.first {
    width: 80%;
    padding: 5px;
    height: auto;
  }

  div.create-account div.first h3 {
    font-size: 16px;
  }
}