/* Middle4 */

div.middle4 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000080;
  background-color: #d3dce7;
}

div.middle4 div {
  flex: 1;
  text-align: left;
}

div.middle4 div img {
  height: 450px;
  max-width: 450px;
  margin: 50px;
  box-shadow: -20px 20px #000080, -20px -20px #000080;
}

div.middle4 div h2 {
  display: inline-block;
  border-top: 4px solid #ffb900;
}

div.middle4 div button {
  display: block;
  margin-left: auto;
  margin-right: 50px;
  padding: 5px;
  background-color: #000080;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  div.middle4 {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }

  div.middle4 div {
    padding: 10px 10px !important;
  }

  div.middle4 div img {
    width: 80%;
    height: auto;
    box-shadow: -5px 5px #000080, -5px -5px #000080;
  }

  div.middle4 div {
    padding: 0;
    margin: 0 auto;
  }

  div.middle4 div {
    text-align: center !important;
  }

  div.middle4 div button {
    margin: 3px auto;
  }
}
