/* Middle1 */

div.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000080;
}

div.middle div {
  flex: 1;
  text-align: left;
  padding-left: 150px;
}

div.middle div:first-child {
  padding-left: 100px;
}

div.middle div:last-child {
  padding: 50px;
  padding-left: 150px;
}

div.middle div p {
  text-align: left;
}

div.middle div img {
  max-width: 450px;
  max-height: 550px;
  padding: 0;
  margin-right: 30px;
  border-radius: 20% 0 20% 0;
  box-shadow: 5px 0px 3px 0px #000080, -5px 0px 3px 0px #000080,
    7px 2px 3px 0px #48f0ff, -7px -2px 3px 0px rgb(72, 240, 255);
}

@media screen and (max-width: 950px) {
  div.middle {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }

  div.middle div {
    padding: 10px 30px !important;
  }

  div.middle div img {
    width: 100%;
    height: auto;
  }

  div.middle div {
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  div.middle div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.middle div img {
    margin: 0;
  }
}
